---
title: Laetsmind
---

<%= partial 'navbar_scroll' %>

<header class="panelize">

  <section id="page1" class="background">
    <div class="banner-one" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.2) 50%), url('<%= image_path("homme.jpg") %>');">
      <div class="center brand"><%= image_tag "logo_laetsmind.png" %></div>
      <h2 class="text-center">Créateur de solutions pédagogiques</h2></div>
    </div>
    <div class="pink call-to-scroll text-center">
      <p>Que faisons-nous plus précisément?</p>
    </div>
  </section>

  <section id="page2" class="background">
    <div class="pink fond">
      <div class="icons">
        <div class="ampoule"><%= image_tag "ampoule_white.png" %></div>
        <div class="icons-red"><%= image_tag "icones_rouge.png" %></div>
      </div>
      <h3 class="content-one">Nous accompagnons votre organisation dans la formation de ses collaborateurs à travers des outils numériques personnalisés.</h3>
    </div>
  </section>

  <section id="page3" class="background">
    <div class="banner-two" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.2) 50%), url('<%= image_path("femme.jpg") %>');">
        <div class="content-brain"><%= image_tag "the_brain.png" %></div>
        <h3 class="content">En créant des formations et des outils selon vos besoins.</h3>
    </div>
  </section>

  <section id="page4" class="background">
      <div class="orange fond">
        <h3 class="content">Et nous proposons également des Moocs grand public et des Moocs personnalisés.</h3>
      </div>
  </section>

  <section id="page5" class="background">
    <div class="blue fond">
      <div class="text-center">
        <h3>Un projet? Une question? Une envie?</h3>
        <div class='button'>contactez-nous</div>
      </div>
    </div>
  </section>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js'></script>
    <script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
    <script src="javascripts/index.js"></script>
</header>
