---
title: Laetsmind
---
<%= partial 'navbar_scroll' %>

<div id="fullpage">
  <section id="primary-section" data-anchor="section-1" class="section">
    <div class="banner" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.2) 50%), url('<%= image_path("homme.jpg") %>');">
      <div class="center brand"><%= image_tag "logo_laetsmind.png" %></div>
      <h3 class="text-center">Créateur de solutions pédagogiques</h3>
    </div>
    <div class="informations pink text-center">
      <p>Que faisons-nous plus précisément?</p>
    </div>
  </section>

  <section data-anchor="section-2" class="section">
    <div class="all-center wrapper-full-height pink">
      <div class="icons">
        <div class="ampoule"><%= image_tag "ampoule_white.png" %></div>
        <div class="icons-red"><%= image_tag "icones_rouge.png" %></div>
      </div>
      <p class="content-one">Nous accompagnons votre organisation dans la formation continue de ses membres à travers des outils numériques personnalisés.</p>
    </div>
  </section>

  <section data-anchor="section-3" class="section">
    <div class="banner" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.2) 50%), url('<%= image_path("femme.jpg") %>');">
      <div class="content-brain"><%= image_tag "the_brain.png" %></div>
      <h3 class="content">En créant des formations et des outils selon vos besoins.</h3>
    </div>
  </section>

  <section data-anchor="section-4" class="section">
    <div class="all-center wrapper-full-height orange">
      <h3 class="content">Et nous proposons également des Moocs grand public et des Moocs personnalisés.</h3>
    </div>
  </section>

  <section data-anchor="section-5" class="section">
    <div class="all-center wrapper-full-height blue text-center">
      <p>Un projet? Une question? Une envie?</p>
      <div class='button'>contactez-nous</div>
    </div>
  </section>
</div>

